@{
    ViewBag.Title = "Home Page";
}
@section styles {
    <style>
      
        div.container.body-content{
            padding-left:0px;
            padding-right:0px;
            width:100%;
            max-width:100%;
        
        }
    </style>
    
    }
<div class="home-header">
 <img src="~/Content/Images/Greendalelogo.png"  class="pull-left logo"/>
    <div class="name pull-left">
        <h2>Greendale</h2>
        <h3>Community College</h3>
        <p>Your already accepted!</p>
    </div>
  
    <a class="btn pull-right btn-default" href="#">Enroll Now <span></span></a>
    <div class="clearfix"></div>
</div>
<div class="home-image">
    <div class="second-nav">
        <ul>
            <li><a href="#">Example Replace later</a></li>
            <li><a href="#">Example Replace later</a></li>
            <li><a href="#">Example Replace later</a></li>
            <li><a href="#">Example Replace later</a></li>
            <li><a href="#">Example Replace later</a></li>
        </ul>
    </div>

    <div class="container clearfix image-text">
        <div class="title">
            <a href="#">
               Enrollments open now!
            </a>
        </div>
    </div>
</div>
<div class="documentation container">
    <article class="col-md-4">
        <h2>What you can do</h2>
        <p>Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here</p>
    </article>
    <article class="col-md-4">
        <h2>Available courses</h2>
        <p>Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here</p>
    </article>
    <article class="col-md-4">
        <h2>Current Ticket Count</h2>
        <p>Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here Documentation here</p>
    </article>
    
    <div class="clearfix"></div>
</div>